<!-- Footer -->
<footer class="footer wow animate__fadeInUp" data-wow-duration="7s" data-wow-delay=".7s">
  <div class="container py-5">
    <div class="row mx-0">
      <div class="col-12 text-center">
        <h6>اشترك في نشرتنا البريدية</h6>
        <p class="text-white fs-12">ابق على اطلاع من خلال تلقي أحدث نشراتنا الإخبارية بما في ذلك جميع المعلومات والحملات واللوائح وأحدث التركز الاقتصادي</p>
      </div>
      <form class="w-100 d-flex align-items-center justify-content-center mb-5">
        <input type="text"
          class="form-control w-50 fs-12 border-0 mx-3" name="" id="" aria-describedby="helpId" placeholder="اكتب ايميلك هنا">
        <button class="btn read-more">
          <span>اشترك</span>
          <i class="icon-arrow"></i>
        </button>
      </form>

        <div class="col footer-links">
          <h6 class="pb-3 fs-18">عن الهيئة</h6>
          <ul class="list-unstyled pr-0">
            <li class="mb-2">
              <a class="text-white fs-15 py-2 d-inline-block" href="#">استراتيجية الهيئة</a>
            </li>
            <li class="mb-2">
              <a class="text-white fs-15 py-2 d-inline-block" href="#">الهيكل التنظيمي</a>
            </li>
            <li class="mb-2 ">
              <a class="text-white fs-15 py-2 d-inline-block" href="#">مجس االدارة</a>
            </li>
            <li class="mb-2 ">
              <a class="text-white fs-15 py-2 d-inline-block" href="#">لجنة الفصل</a>
            </li>
          </ul>
        </div>
        <div class="col footer-links px-5">
          <h6 class="pb-3 fs-18">أنشطة الهيئة</h6>
          <ul class="list-unstyled pr-0">
            <li class="mb-2">
              <a class="text-white fs-15 py-2 d-inline-block" href="#">نظام المنافسة</a>
            </li>
            <li class="mb-2">
              <a class="text-white fs-15 py-2 d-inline-block" href="#">اللائحة التنفيذية</a>
            </li>
            <li class="mb-2 ">
              <a class="text-white fs-15 py-2 d-inline-block" href="#">تنظيم الهيئة</a>
            </li>
            <li class="mb-2 ">
              <a class="text-white fs-15 py-2 d-inline-block" href="#">القواعد والاجراءات</a>
            </li>
          </ul>
        </div>
        <div class="col footer-links">
          <h6 class="pb-3 fs-18">عن المنافسة</h6>
          <ul class="list-unstyled pr-0">
            <li class="mb-2">
              <a class="text-white fs-15 py-2 d-inline-block" href="#">شكاوى ومبادرات</a>
            </li>
            <li class="mb-2">
              <a class="text-white fs-15 py-2 d-inline-block" href="#">التركز الاقتصادي</a>
            </li>
            <li class="mb-2 ">
              <a class="text-white fs-15 py-2 d-inline-block" href="#">التسوية</a>
            </li>
            <li class="mb-2 ">
              <a class="text-white fs-15 py-2 d-inline-block" href="#">المصالحة</a>
            </li>
            <li class="mb-2 ">
              <a class="text-white fs-15 py-2 d-inline-block" href="#">الاعفاء</a>
            </li>
          </ul>
        </div>
        <div class="col footer-links px-5">
          <h6 class="pb-3 fs-18">المركز الاعلامي</h6>
          <ul class="list-unstyled pr-0">
            <li class="mb-2">
              <a class="text-white fs-15 py-2 d-inline-block" href="#">أخبار الهيئة</a>
            </li>
            <li class="mb-2">
              <a class="text-white fs-15 py-2 d-inline-block" href="#">الملف الصحفي</a>
            </li>
            <li class="mb-2 ">
              <a class="text-white fs-15 py-2 d-inline-block" href="#">قرارات الهيئة</a>
            </li>
            <li class="mb-2 ">
              <a class="text-white fs-15 py-2 d-inline-block" href="#">التقارير السنوية</a>
            </li>
            <li class="mb-2 ">
              <a class="text-white fs-15 py-2 d-inline-block" href="#">اصداراتنا</a>
            </li>
          </ul>
        </div>
        <div class="col footer-links">
          <h6 class="pb-3 fs-18">مكتبة ثقافة المنافسة</h6>
          <ul class="list-unstyled pr-0">
            <li class="mb-2">
              <a class="text-white fs-15 py-2 d-inline-block" href="#">التعريفات</a>
            </li>
            <li class="mb-2">
              <a class="text-white fs-15 py-2 d-inline-block" href="#">نطاق تطبيق نظام المنافسة</a>
            </li>
            <li class="mb-2 ">
              <a class="text-white fs-15 py-2 d-inline-block" href="#">الممارسات المخلة بنظام الممارسة</a>
            </li>
            <li class="mb-2 ">
              <a class="text-white fs-15 py-2 d-inline-block" href="#">حملات نشر ثقافة الممارسة</a>
            </li>
          </ul>
        </div>
    </div>
  </div>
</footer>

<!-- Copy Rights -->
<div class="copy-rights">
  <div class="container">
    <div class="d-lg-flex align-items-center justify-content-between py-4">
      <div class="d-flex align-items-center">
        <img src="assets/images/footer_logo.png" alt="" class="mb-3" width="150">
        <p class="mb-0 px-3 text-white fs-14">جميع الحقوق محفوظة  للهيئة العامة للمنافسة 2020</p>
      </div>
      <!-- Social media -->
      <ul class="list-unstyled pr-0 mb-0 social">
        <li class="nav-item d-inline-block">
          <a class="nav-link text-white px-2" href="#">
            <i class="icon-youtube"></i>
          </a>
        </li>
        <li class="nav-item d-inline-block">
          <a class="nav-link text-white px-2" href="#">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
        <li class="nav-item d-inline-block">
          <a class="nav-link text-white px-2" href="#">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
      </ul>

      <ul class="list-unstyled pr-0 mb-0">
        <li class="nav-item d-inline-block">
          <a class="nav-link text-white fs-15 pr-3" href="#">الخصوصية</a>
        </li>
        <li class="nav-item d-inline-block">
          <a class="nav-link text-white fs-15 pr-3" href="#">سياسة الاستخدام</a>
        </li>
        <li class="nav-item d-inline-block">
          <a class="nav-link text-white fs-15 pr-3" href="#">خريطة الموقع</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Back TO Top Button -->
<a href="#" class="back-to-top" style="display: none;">
  <i class="fa fa-caret-up"></i>
</a>
