<!-- Header -->
<header>
  <!--Navbar -->
<nav class="navbar navbar-expand-lg px-5">
  <!-- Logo -->
  <a class="navbar-brand" href="#">
    <img src="assets/images/logo.png" width="250" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fa fa-bars"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <!-- Social media -->
    <ul class="navbar-nav mr-auto nav-flex-icons social-links">
      <li class="nav-item">
        <a class="nav-link text-white px-2" href="#">
          <i class="icon-youtube"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white px-2" href="#">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white px-2" href="#">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
    </ul>
    <!-- Navigation bar -->
    <ul class="navbar-nav mr-auto pr-0 Navigation">
      <li class="nav-item active">
        <a class="nav-link fs-15 pr-3" href="#">الرئيسية</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white fs-15 pr-3" href="#">عن الهيئة</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white fs-15 pr-3" href="#">المركز الاعلامى</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white fs-15 pr-3" href="#">روابط اخرى</a>
      </li>
    </ul>
    <!-- Language -->
    <a class="lang text-white" href="#">
      <i class="icon-geography fs-20"></i>
      <span class="px-2 fs-18">EN</span>
    </a>
  </div>
</nav>
<!--/.Navbar -->

<!-- Second Navbar -->
<nav class="navbar second-navbar navbar-toggleable-md navbar-expand-lg px-5 wow animate__fadeInDown"
data-wow-duration="2s" data-wow-delay=".2s">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fa fa-bars"></span>
  </button>
  <div class="row mx-0 w-100 collapse navbar-collapse" id="navbarSupportedContent-555">
    <div class="col-lg-8 col-md-6 col-12 px-0">
      <ul class="nav navbar-nav nav-flex-icons ml-auto pr-0">
    <li class="nav-item dropdown px-3 py-3">
      <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        عن الهيئة
      </a>
      <div class="dropdown-menu dropdown-menu-right py-0" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item px-3 py-2" href="#">عن الهيئة</a>
        <a class="dropdown-item px-3 py-2" href="#">عن الهيئة</a>
        <a class="dropdown-item px-3 py-2" href="#">عن الهيئة</a>
      </div>
    </li>
    <li class="nav-item dropdown px-3 py-3">
      <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        انشطة الهيئة
      </a>
      <div class="dropdown-menu dropdown-menu-right py-0" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item px-3 py-2" href="#">عن الهيئة</a>
        <a class="dropdown-item px-3 py-2" href="#">عن الهيئة</a>
        <a class="dropdown-item px-3 py-2" href="#">عن الهيئة</a>
      </div>
    </li>
    <li class="nav-item dropdown px-3 py-3">
      <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        عن المنافسة
      </a>
      <div class="dropdown-menu dropdown-menu-right py-0" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item px-3 py-2" href="#">شكاوى ومبادرات</a>
        <a class="dropdown-item px-3 py-2" href="#">التركز الاقتصادي</a>
        <a class="dropdown-item px-3 py-2" href="#">التسوية</a>
        <a class="dropdown-item px-3 py-2" href="#">المصالحة</a>
        <a class="dropdown-item px-3 py-2" href="#">الاعفاء</a>
      </div>
    </li>
    <li class="nav-item px-3 py-3">
      <a class="nav-link text-dark" href="#">
        الخدمات الالكترونية
      </a>
    </li>
    <li class="nav-item dropdown px-2 py-3">
      <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        مكتبة ثقافة المنافسة
      </a>
      <div class="dropdown-menu dropdown-menu-right py-0" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item px-3 py-2" href="#">عن الهيئة</a>
        <a class="dropdown-item px-3 py-2" href="#">عن الهيئة</a>
        <a class="dropdown-item px-3 py-2" href="#">عن الهيئة</a>
      </div>
    </li>
  </ul>
    </div>
    <div class="col-lg-4 col-md-6 col-12 px-0">
      <!-- Search -->
      <div class="search d-flex align-items-center justify-content-between px-2 py-2">
        <div class="phone-num">
          <span class="text-white px-2 fs-24">19019</span>
          <i class="fa fa-phone fs-20"></i>
        </div>
        <form class="form-inline pl-4">
          <div class="md-form my-0 position-relative">
            <i class="fa fa-search position-absolute"></i>
            <input class="form-control mr-sm-2" type="text" placeholder="بحث" aria-label="Search">
          </div>
        </form>
      </div>
    </div>
  </div>


</nav>
<!-- /.Navbar -->

</header>

